
{% extends "::/layout/layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Tva'}, 'admin') }} - {{ parent() }}{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">


          {% include "UtilisateursBundle:Default:/modulesUsed/utilisateurConnecte.html.twig" %}


        </div>

        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
          {% render(controller('UtilisateursBundle:Default:flashMessages')) %}






{% form_theme form 'PagesBundle:Form:bootstrap_3_layout.html.twig' %}




    <h1>{{ '%entity% creation'|trans({'%entity%': 'Tva'}, 'admin') }}</h1>

    {{ form_start(form, {action: path('admin_tva_create')}) }}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'admin') }}</button>
        </p>
    {{ form_end(form) }}


        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('admin_tva') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>


        </div>


    </div>
    </div>
    </div>


{% endblock %}
